@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.main-container {
  width: 100%;
  height: 100%;
  background-color: rgba(224, 227, 224, 0.4);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.list-container {
  width: 80%;
  background-color: white;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

input {
  border: none;
  outline: none;
}

.new-task {
  width: 70%;
}

.add {
  margin: 0;
  display: flex;
  justify-content: space-between;
}

h1,
ul li,
.add,
span {
  padding: 15px 6px;
  border-bottom: 1px solid rgb(193, 190, 190);
}

.clear {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: rgba(193, 190, 190, 0.3);
}

.clear span {
  border-bottom: none;
}

.to-do-list-container {
  display: flex;
  justify-content: space-between;
}

label {
  color: red;
}

.error {
  visibility: hidden;
}

.list-input-container {
  width: 70%;
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 0;
  margin: 0;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

.shake {
  animation: shake 1s;
}

.color {
  color: red;
}

button {
  background-color: transparent;
  border: none;
  font-size: 16px !important;
}

button:hover {
  color: rgba(30, 48, 80, 0.3) !important;
}

.title {
  font-size: 20px;
  font-weight: 900;
  padding: 15px 6px;
  margin: 0;
}

.clearAll {
  margin: 15px;
}

@media (min-width: 768px) {
  .list-container {
    width: 40%;
  }
}
